<a href="https://colab.research.google.com/github/BhavyaGumber/Machine_Learning/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [230]:
import pandas as pd
import numpy as np

In [183]:
car = pd.read_csv("quikr_car.csv")

In [184]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [185]:
car.shape

(892, 6)

In [186]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [187]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [188]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

year column has so much kachra
values object mei hai integer mei nhi hai
we need to change them to integer from object, non integer values k saath deal krna hai

Price column has entries like "ask for price" that need to be removed
price mei objects hain we need to convert them to integer

Kms driven has kms with integers
we have to convert kms driven to integer
kms driven has nan values

fuel type has some nan values
name k pehle teen words ko rakhlenge

In [189]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [190]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [191]:
#cleaning of data
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [192]:
# we will keep only numeric strings and discard all other
car['year'].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [193]:
# we will use only that data where value of year is numeric
car = car[car['year'].str.isnumeric()]

In [194]:
#now we will convert object to int
car['year'] = car['year'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [195]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [196]:
car = car[car['Price']!="Ask For Price"]
#removed the data entries which had Ask for Price values in it

In [197]:
#removing commas in price values with space
car['Price'] = car['Price'].str.replace(',','').astype(int)

In [198]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [199]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [200]:
car=car[car['kms_driven'].str.isnumeric()]

In [201]:
car['kms_driven']= car['kms_driven'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [202]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [203]:
car=car[~car['fuel_type'].isna()]

In [204]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [205]:
 car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [206]:
car = car.reset_index(drop=True)
#purana index drop krne k liye
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [207]:
car.describe()
#gives only numerical values

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [208]:
# to check for cars greater than 60 lakhs

In [209]:
car[car['Price']>6e6]
#this is an outlier in the data
# we will drop this

                   name   company  year    Price  kms_driven fuel_type
534  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel

In [210]:
car = car[car['Price']<6e6].reset_index(drop=True)

In [211]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [212]:
car.to_csv("Cleaned_car.csv")

MODEL

In [213]:
X = car.drop(columns='Price')
y = car['Price']

In [214]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [215]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [216]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [217]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [218]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [219]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']), remainder='passthrough')

In [220]:
lr = LinearRegression()

In [221]:
pipe = make_pipeline(column_trans, lr)

In [222]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [224]:
y_pred = pipe.predict(X_test)
y_pred

array([ 403433.42122938,  363354.65078556,   50823.11313029,
        161213.71988489,  315767.43631569,  206271.61642115,
        482720.62506306,   21950.00380433,  122513.12132952,
        331715.03240331,  567900.48414951,  111693.50360817,
        680495.34027293,  531122.96331617,  580203.38595603,
        227890.729986  ,  354276.5531572 ,  361616.04883348,
        367652.6499984 ,  667846.10391163,  304024.47604492,
        274812.77497617,  299094.24520043,  410454.65906366,
        441614.53167661,  243871.56353267,  339229.43202069,
        665883.76676988, 1501747.73446421,  271370.27086456,
        183958.85238975,  209128.16809943,  341613.0212209 ,
        696279.68488356,  629168.35803318,  287812.57851353,
        633086.54923505,  159274.56404614,  288628.26373228,
         26705.09190044,  465777.28764586,   78398.6921658 ,
        172520.84914526,  462683.75517412,  218342.2352226 ,
        208996.03692387,  229488.47008895,  696802.6890491 ,
        268318.36921594,  112218.45789133,  574541.14484941,
        221304.32937951,  319342.62931655,  184321.56413545,
        143841.18353649,  334777.30660679,  246310.32372469,
        335419.04869101,  548209.38493175,  143777.83249325,
        346351.05975568,  183529.12779888,  799552.86008688,
        284143.20183441,  202666.3202069 ,   43261.8265033 ,
        332146.3027703 ,  281454.389387  ,  311083.26533266,
        423743.01756284,  113191.42333638,  389325.07403953,
        137209.31621334,  349981.81928734,  274231.43222257,
        267879.86407299,  268505.94618546,   70183.13749223,
        156241.36661461,  100870.42590304,  858045.2712056 ,
        585900.14442489,  214415.33811531,  342730.90906549,
       1064934.29824119,  223253.12708652,  129144.67728619,
        705061.51479665,  161213.71988489,  485856.46038023,
       1502170.76291858,  258289.06646416,  513814.07059681,
        213616.9641045 , 1248391.74193061,  194510.67876676,
        306134.93583222,  275982.49095535,  720457.74841708,
       1048430.32071726,   76528.93865658,  248323.80217244,
        354062.88776758,  188051.29581898,  596377.48475851,
        785199.01627254,  397477.37271279,  457815.08268547,
        285819.46185608,  161213.71988489,  567197.60047699,
        567197.60047699,  177046.22864279,  491002.96513692,
        168564.36292072,  349849.17611964,   37370.97053089,
        204316.13117895,   57566.46362893,  362584.40589068,
         82399.03623463,  227425.39868619,  307927.16457246,
        159598.73075072,  572764.42534106,  248675.24661231,
        276149.81484739,  446312.90314429,  574350.78204495,
        567442.50075738,  543876.38593913, 1891176.03638427,
       1891176.03638427,  195624.80488875,  113064.51480007,
        149731.4841658 , 1657768.14742998,  477403.54241277,
        283720.17338004,  520443.83227167,  243844.72159851,
        586385.75066189,  163869.69608125,  589807.13980675,
        567442.50075738,  123806.95280614,  214415.33811531,
       1891176.03638427,  356405.33322692,  287943.43121343,
        394227.15213875,  149350.75855687,  129566.20222833,
        696420.90586904,  130706.30741308,  307932.45242814,
        227002.37023183,  233898.0115392 , 1261050.99695747,
        130535.00260432,  247029.47209711,  312606.16776839,
        561562.80424679])

In [225]:
r2_score(y_test, y_pred)

0.5352598146392009

In [228]:
scores=[]
for i in range(1000):
   X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=i )
   lr = LinearRegression()
   pipe= make_pipeline(column_trans, lr)
   pipe.fit(X_train,y_train)
   y_pred = pipe.predict(X_test)
   print(r2_score(y_test, y_pred),i)
   scores.append(r2_score(y_test,y_pred))

0.7852359290686266 0
0.5125292588289947 1
0.6903651037412857 2
0.5995051059777572 3
0.853836342705581 4
0.7471059457224005 5
0.6257431036519457 6
0.685969049532969 7
0.7646011185479593 8
0.7309940280848726 9
0.7654879198490608 10
0.7341393368927476 11
0.5285871593524444 12
0.7812740818674848 13
0.7118107940896218 14
0.7412049213765404 15
0.5182302397328242 16
0.7431760876203615 17
0.6922734381321017 18
0.6663439867795318 19
0.6626149603432494 20
0.6597376925568635 21
0.7954945220505312 22
0.6949351774300705 23
0.623832195690308 24
0.554607872673779 25
0.7012185098642552 26
0.8064474235142909 27
0.8207566704300913 28
0.5884839319077335 29
0.6062814332703366 30
0.6545516121226744 31
0.8020809707219485 32
0.819925789500296 33
0.5838846428057733 34
0.6876431545276813 35
0.6410713440588225 36
0.7366052938884555 37
0.7158241306482946 38
0.7967412230307239 39
0.38738572059322074 40
0.6735258381680045 41
0.642808820700284 42
0.7471045393443039 43
0.75050274624267 44
0.7803956711191535 45
0.6222725766541232 46
0.6012205668667616 47
0.8507519728383368 48
0.7314721833381158 49
0.5698514226296522 50
0.5876578063547379 51
0.7465545075913665 52
0.7845382680380529 53
0.7149715797893612 54
0.717060555277397 55
0.7945940653868568 56
0.7765304944648602 57
0.7886966429125588 58
0.6147872126586182 59
0.637906122927592 60
0.5817452035019371 61
0.4480308387568205 62
0.6722115524582635 63
0.6629094118531329 64
0.6324637237030335 65
0.498070739602393 66
0.7194665825198682 67
0.6499895473575206 68
0.78821966316506 69
0.7494382855154451 70
0.7600950895635792 71
0.6760212334989388 72
0.7475992693530445 73
0.643284120390418 74
0.6716345196903574 75
0.5392374073276618 76
0.5864468086751098 77
0.765760633386513 78
0.7458568170010412 79
0.6662344159082445 80
0.6427316093419371 81
0.7177767684417962 82
0.7653759190652423 83
0.7290103526895717 84
0.6278187634582051 85
0.7990801622877524 86
0.7145501383371657 87
0.6975194189585833 88
0.6928637867844727 89
0.7383375576094792 90
0.615572283409578 91
0.773861556942649 92
0.4852724842048227 93
0.7090919824074015 94
0.7082679478778979 95
0.6476841600254937 96
0.7558285793900392 97
0.772284376608857 98
0.6764698171043751 99
0.7138002133964185 100
0.7603895479833587 101
0.7224635707031606 102
0.6790528790657043 103
0.7207163074011784 104
0.6127037894233743 105
0.6658793680568359 106
0.5845277818934418 107
0.755995999925439 108
0.8071208540848427 109
0.7658809390224308 110
0.6627844950875548 111
0.625606094298218 112
0.7470577383159892 113
0.7428273142478148 114
0.6568560104499843 115
0.6951598828426349 116
0.6661820465521171 117
0.5570021585288523 118
0.8270347081686295 119
0.8131459964892489 120
0.705079355839526 121
0.7552279757405536 122
0.7134010208863788 123
0.8894675543137637 124
0.7666317654628019 125
0.6249740234977059 126
0.6139970430719152 127
0.5888729603807168 128
0.6901052335920084 129
0.6367702221922327 130
0.5715786222300927 131
0.7281985705076536 132
0.6907695261723744 133
0.8537929981463496 134
0.8531585476277967 135
0.5835435151741291 136
0.7974572635520643 137
0.721781103487102 138
0.5864573632467132 139
0.8201173738549152 140
0.6767998351042647 141
0.6875827187951151 142
0.7465737505032397 143
0.6633732528032179 144
0.5554853832522151 145
0.7336825105502506 146
0.7340233149704762 147
0.7097011768966206 148
0.6729113713477075 149
0.7679646414089563 150
0.85608342278784 151
0.6611068456865865 152
0.5359884169080353 153
0.6354499892914512 154
0.7463911228638855 155
0.4975512569774869 156
0.8007604168692687 157
0.6676089321193535 158
0.76479151966039 159
0.6962337249404893 160
0.7271134039795211 161
0.6854503408605412 162
0.7293185393999856 163
0.672901557305741 164
0.7818863957125293 165
0.6646964330106789 166
0.5293088669716681 167
0.6407539297005369 168
0.7038363687968303 169
0.710080954341082 170
0.6980428351491108 171
0.8719078425652371 172
0.7627032099647615 173
0.5732592161936265 174
0.6743022619321005 175
0.789764739226668 176
0.7280900640048902 177
0.7703029925489007 178
0.7757563639326807 179
0.7485876189693792 180
0.7043750139652387 181
0.7199038524612873 182
0.6890952437813743 183
0.5108326501194993 184
0.7580816448504532 185
0.7223223765064715 186
0.728807038699412 187
0.7309141784357871 188
0.6553075830813011 189
0.7316544859659702 190
0.730623016379719 191
0.6955858390712639 192
0.7757991886408074 193
0.8005049421201036 194
0.6528582123618221 195
0.706277222692561 196
0.813030612567592 197
0.47286416949916044 198
0.834334416586235 199
0.7138908334301624 200
0.48393190650317175 201
0.6296461684115109 202
0.8324901411041272 203
0.6661404241828607 204
0.7620704089054962 205
0.8005299846722407 206
0.5877796642524552 207
0.7610019457872238 208
0.5765958666109741 209
0.512887469420598 210
0.5992196746001393 211
0.6054453373342458 212
0.7263030129815721 213
0.7098795046592052 214
0.7770994680373604 215
0.5468913180861541 216
0.6668008580340837 217
0.6337600344073513 218
0.6251680850642769 219
0.5947316652736847 220
0.7524204891990802 221
0.48678807475986396 222
0.5066306456211194 223
0.6204434230178122 224
0.8106843587847018 225
0.7474999635938049 226
0.6580114119894762 227
0.7929981649684054 228
0.5801400727248431 229
0.6412475637761033 230
0.6189084760209242 231
0.6851077166903468 232
0.607116041033178 233
0.7721485659530738 234
0.7609446597280833 235
0.708117085944182 236
0.6125478405744607 237
0.5918427842736764 238
0.5980750944107482 239
0.614767948044495 240
0.47931566283912874 241
0.5859734812912942 242
0.6605521374169012 243
0.4872677726166439 244
0.7961887046215275 245
0.8515338211017397 246
0.7884316375854105 247
0.7823176947434756 248
0.573001554206602 249
0.6433202689678947 250
0.5324110745347945 251
0.6018098664922231 252
0.7864432325008424 253
0.5782803792953766 254
0.806903204995454 255
0.6750914469871832 256
0.7617993487397184 257
0.6556710342360551 258
0.613040191163188 259
0.7641557813309495 260
0.8075832107146305 261
0.7887516389708057 262
0.7562630020749541 263
0.6953185461578646 264
0.7114422248905217 265
0.7170132892388058 266
0.7677079823288773 267
0.6025237417301232 268
0.5380167553080599 269
0.7257253518006499 270
0.5753886565617272 271
0.6891527452501935 272
0.7222163660628296 273
0.7738088118312118 274
0.6512305766417167 275
0.81794471254069 276
0.7415019282924113 277
0.7526714810475873 278
0.8766260610264782 279
0.6715149661782178 280
0.7635986591033059 281
0.7187376614950645 282
0.8070363052786831 283
0.753445696471469 284
0.6434701641040053 285
0.7847488608977262 286
0.5728205234622705 287
0.5825287793513043 288
0.5169257654230881 289
0.5383270739197707 290
0.7404020107655207 291
0.620025644848295 292
0.790675566611811 293
0.8276567121859602 294
0.7624846387162728 295
0.7841729008602352 296
0.7614853718590562 297
0.5399131634943342 298
0.8068136670696145 299
0.8309604794199505 300
0.8319518711574365 301
0.7810036395480506 302
0.5959089050143755 303
0.677657601523904 304
0.6472160167338754 305
0.8268247044218582 306
0.7376651074921751 307
0.7674040147571584 308
0.7726093122412915 309
0.7342883475448236 310
0.6322041230200581 311
0.5445484548361008 312
0.4926777666015405 313
0.5984098150907518 314
0.812107238039836 315
0.6276166858607666 316
0.7412329706093175 317
0.698181186433064 318
0.6154500523184785 319
0.4943997225956507 320
0.739740149788666 321
0.5867422180179092 322
0.5852538042766362 323
0.6660965551469591 324
0.5978003369774859 325
0.7008187437035329 326
0.8640431743639694 327
0.7728089281775574 328
0.6059694625005354 329
0.6383822073084056 330
0.5238093647523457 331
0.6481462573841805 332
0.6706188750330787 333
0.7999284412247519 334
0.7101676483898357 335
0.6585000556661331 336
0.7942778955025475 337
0.6835384207592932 338
0.58819731148339 339
0.7958851573212609 340
0.7811628962902287 341
0.666269641510876 342
0.7335629705726174 343
0.7748416649260321 344
0.7311622720904309 345
0.7339759649838833 346
0.5921725937469873 347
0.7411353071786118 348
0.6345174246545926 349
0.7676068539566756 350
0.8637928243841644 351
0.7011768426241896 352
0.5456944122962564 353
0.7611595811286285 354
0.8116723816913549 355
0.7998446672327866 356
0.6701196842608917 357
0.7209213381171593 358
0.6288681122299915 359
0.7107607925439565 360
0.7367586451526311 361
0.6096077059571834 362
0.7587815413274381 363
0.7861567188677856 364
0.5796022312891745 365
0.7676421121093127 366
0.45015423039039093 367
0.7675480124681668 368
0.7923375422755057 369
0.7070895631819669 370
0.6636353190306177 371
0.6810913222481214 372
0.7067982206646475 373
0.5696074133961815 374
0.6745206721097243 375
0.7343057877187462 376
0.6574818635403998 377
0.7945930176260128 378
0.7977713592893485 379
0.6499454153512769 380
0.7266723096530274 381
0.780047912799392 382
0.8319450621481345 383
0.7358802349855846 384
0.7926206399898043 385
0.7496088584173608 386
0.7755813152980344 387
0.5676900292568201 388
0.5892217546848473 389
0.7774430245138582 390
0.6225425329577303 391
0.8540480123539543 392
0.4429923239974737 393
0.6963763107148284 394
0.7724120934027889 395
0.6553457278989303 396
0.6801560855734519 397
0.6851625910222625 398
0.7422516831755694 399
0.7175548859231506 400
0.6823286584779413 401
0.5327583144095267 402
0.4826051807264813 403
0.679724424947826 404
0.6616825892567841 405
0.5516637200936216 406
0.7064537116474947 407
0.7733452984040471 408
0.7249195037505796 409
0.7768107399363731 410
0.6753790109992215 411
0.761727575519437 412
0.5954162033882604 413
0.5946078766873869 414
0.5603566861937503 415
0.5064598787205588 416
0.7450163836673687 417
0.7446171978204782 418
0.8102211213638688 419
0.7684113495806639 420
0.6710912514123427 421
0.7463093739939772 422
0.7007444342478599 423
0.6840569363326776 424
0.6106294747526806 425
0.475975641303388 426
0.7715707913548748 427
0.7074982610607503 428
0.6538853559928147 429
0.784054546663011 430
0.804285767826126 431
0.6427534770235335 432
0.8490443934205842 433
0.6241730920706997 434
0.8189892533313836 435
0.5706305220888417 436
0.7515120209547936 437
0.7037682193085071 438
0.7804011505396309 439
0.7768210248517242 440
0.834521753297006 441
0.6345787510320695 442
0.8677541410801224 443
0.8369602360606176 444
0.8204462947618096 445
0.7277771026248447 446
0.701577446994873 447
0.7823477247565835 448
0.7817697190765345 449
0.7550938681482642 450
0.6388886420897676 451
0.6023325069160368 452
0.6884752896495936 453
0.7694687616066336 454
0.7044556228510545 455
0.4963482162927667 456
0.5776003562708819 457
0.802392001447873 458
0.746203115812875 459
0.7788222745914454 460
0.7325103002533626 461
0.6765396054438562 462
0.7917568114241298 463
0.6224284517628547 464
0.6446958657263326 465
0.7001503090322283 466
0.5494384657567497 467
0.7252644865406174 468
0.7789155150161877 469
0.5274463934975067 470
0.58163729674069 471
0.3858149426131563 472
0.719308951550717 473
0.6997144555155226 474
0.7864415016501186 475
0.631696820062085 476
0.7791226703348374 477
0.8320608279564139 478
0.5949795956740689 479
0.6610146801076198 480
0.718169072571653 481
0.6756479351578785 482
0.5426445388943801 483
0.7161385882474489 484
0.5598868635395594 485
0.7154537107826433 486
0.6208832861926441 487
0.7528108075243176 488
0.6259159280298581 489
0.5706982073597874 490
0.7812727956528827 491
0.682703194617851 492
0.7029638351089087 493
0.8125034207865913 494
0.6454586800945179 495
0.8100178594656882 496
0.7095397234229963 497
0.6311414996500787 498
0.8189208426918032 499
0.7691530104618627 500
0.5988334505145245 501
0.5946995373701781 502
0.7296700563033212 503
0.5322323774092894 504
0.7017836591209075 505
0.741322671555547 506
0.8367397510752721 507
0.7470070223336457 508
0.7218332457818849 509
0.6993070488175173 510
0.6314015460453055 511
0.6322475672391829 512
0.7476647633150612 513
0.7153443076627237 514
0.8706219590759229 515
0.788117410355533 516
0.7939298610871298 517
0.6535416302601537 518
0.7942406942871572 519
0.7697655827903553 520
0.7092233598896347 521
0.5159461710313038 522
0.5879353380660459 523
0.5412920066342443 524
0.4421573979888347 525
0.7716108643293361 526
0.8075968454901666 527
0.8175018559349245 528
0.654022402971419 529
0.7081123935485201 530
0.7075502808596323 531
0.7560904095415265 532
0.7678692065877201 533
0.507559694251501 534
0.590372257162899 535
0.7684530251550348 536
0.5430041080794183 537
0.7158051507014103 538
0.7085661999080743 539
0.7562574055126857 540
0.7043428829691334 541
0.7920763475350572 542
0.5841282673653698 543
0.7739707645934477 544
0.538142278359188 545
0.7453244456644834 546
0.3484187346602998 547
0.7776787751197664 548
0.5834763872755534 549
0.6806970854933556 550
0.6877423322444821 551
0.6848202849010813 552
0.7569296107806405 553
0.6546667740594727 554
0.860759074044346 555
0.6738903994638719 556
0.5241481870449676 557
0.8297571268516815 558
0.797736228699857 559
0.7072196230721481 560
0.5545543126485787 561
0.8183962625435818 562
0.6319632981713009 563
0.6714477300334603 564
0.8005439983105656 565
0.8398601072587351 566
0.7639557594801702 567
0.7407512438534378 568
0.7494907659949938 569
0.7376220003128784 570
0.6925912655794482 571
0.7292395076197571 572
0.7280141419683377 573
0.6182238200434804 574
0.7281666372075333 575
0.726602660765808 576
0.7613770504404876 577
0.7843532233503594 578
0.642656387298421 579
0.6182009257973238 580
0.7201097245599163 581
0.5543523719164025 582
0.6412654649685474 583
0.6092828329862547 584
0.5691223841974431 585
0.7066152793912232 586
0.6265193824585943 587
0.7406467969025147 588
0.752415275717022 589
0.6677244853883998 590
0.7457730795632369 591
0.7630101837551 592
0.8192580996394617 593
0.6480991808033034 594
0.41437114730209745 595
0.612854887960641 596
0.6741443521449149 597
0.637487019618909 598
0.5138425442953294 599
0.5078741075103481 600
0.5619587037127061 601
0.7598461519350601 602
0.6431948398980758 603
0.6777060038461802 604
0.7643029069868873 605
0.5344082734259621 606
0.6043608293668624 607
0.810699181936062 608
0.6627739059685176 609
0.5679772288318012 610
0.6590333117014613 611
0.6271354694421166 612
0.6625263851603626 613
0.7877368547706581 614
0.5969151117172599 615
0.3561416959247151 616
0.7149319095643725 617
0.7279566846115204 618
0.6389955105701767 619
0.6781847164828795 620
0.7460502924596252 621
0.6441296828698431 622
0.5722451946189175 623
0.8037309442924426 624
0.7460900379675022 625
0.6799912838969739 626
0.64404397160896 627
0.755027619655453 628
0.7094963710067259 629
0.6864716639428008 630
0.7521949784689057 631
0.66844807068854 632
0.6384484972237157 633
0.5429489774765642 634
0.636883422777306 635
0.6643311441634744 636
0.7475085447180126 637
0.7776996605270841 638
0.5567700789361898 639
0.6518252502323935 640
0.7428603282771288 641
0.6981253025240852 642
0.7322425452958055 643
0.51615093401682 644
0.7718730675987444 645
0.7719310006746392 646
0.5224179602918301 647
0.6994967338323603 648
0.7003631256393208 649
0.6720319900839802 650
0.6483927662899437 651
0.8689103039423255 652
0.7989329139939588 653
0.8057033758357695 654
0.7406565521413847 655
0.5976123347684521 656
0.5498220690717317 657
0.7650560506976488 658
0.7532387395631712 659
0.6931868530689032 660
0.889770931767991 661
0.6251982123894245 662
0.5493921751831204 663
0.5212463830009235 664
0.7221265935483732 665
0.7704474328035725 666
0.7784680692604073 667
0.7767666557621775 668
0.8007284506626167 669
0.8313591163561451 670
0.5791158932218766 671
0.7054063335454706 672
0.7999620256668557 673
0.8131236100540917 674
0.6360131383959275 675
0.6904073075344673 676
0.6009684059763016 677
0.7654486439234945 678
0.6900422297426152 679
0.6551271741455273 680
0.6055129097881095 681
0.7612966942325378 682
0.7270328714719799 683
0.627442176732341 684
0.7214116339613739 685
0.8722159669346613 686
0.7337201241275952 687
0.6655215518508755 688
0.8162037737375551 689
0.606372697911131 690
0.7185702678809582 691
0.6499273511078809 692
0.7241791542153407 693
0.7290210450345485 694
0.7766656438079627 695
0.7177520306664731 696
0.6228657633279925 697
0.7845713539505349 698
0.7278475087314249 699
0.5372875533156263 700
0.7360104457669489 701
0.6705206785051199 702
0.7737787677222175 703
0.6862329242305965 704
0.732257535461923 705
0.7455603094047358 706
0.7476701573422357 707
0.719633122916532 708
0.5580495966017356 709
0.667408846241577 710
0.7561192956373173 711
0.836362538904702 712
0.8317335094665815 713
0.6733502860439011 714
0.7410478853623135 715
0.7716393530890215 716
0.6840636588873421 717
0.4225750620284967 718
0.6939847186920376 719
0.6164923894377609 720
0.6919868442162864 721
0.776638310027538 722
0.7337913683035397 723
0.6662550361960895 724
0.6630303768785744 725
0.687155317477899 726
0.713392406365668 727
0.7075297432950628 728
0.670756712477222 729
0.74615555122463 730
0.5432755461733807 731
0.7930560485954172 732
0.7274102644542944 733
0.633313963048493 734
0.5658078618451554 735
0.644336061196416 736
0.5818114574074801 737
0.7517484723799085 738
0.6307064798060331 739
0.7357337254737135 740
0.6543512150058681 741
0.7940258460245094 742
0.7815988977173827 743
0.5806524473796975 744
0.6718533430477218 745
0.753714461090953 746
0.5620707848322584 747
0.6342834194391865 748
0.5603208910332582 749
0.6011264292912166 750
0.7435222181290218 751
0.7616838741909636 752
0.8062609746543812 753
0.8110520958107148 754
0.6359430493951796 755
0.7581348519639997 756
0.7789703725310461 757
0.5857633627408628 758
0.6877666665289719 759
0.7228905372528518 760
0.7564667998025876 761
0.7460444095311833 762
0.6599871295306172 763
0.6284075999023337 764
0.7058792550378689 765
0.6908854277608583 766
0.6877606077812419 767
0.5381055867418026 768
0.7794917472652894 769
0.6982029367428861 770
0.7037829804351055 771
0.7992891357564855 772
0.7544377938222653 773
0.6129607079014117 774
0.7001155419861427 775
0.639756300542856 776
0.48299077918899114 777
0.7512553102775934 778
0.6908849198810141 779
0.788520494039648 780
0.7946823067260035 781
0.7451956446756316 782
0.7928853804941409 783
0.6573232440826 784
0.6631653295144925 785
0.6940896049822924 786
0.7418814085718087 787
0.7572492185865749 788
0.4893527210719786 789
0.7815812106014812 790
0.7728935781653743 791
0.8217498982428845 792
0.7494754903973417 793
0.7507577896918107 794
0.6166944887395094 795
0.779979249691564 796
0.6462734182779134 797
0.7570633823805599 798
0.7489370208755848 799
0.7303874029172133 800
0.5628383901918275 801
0.6006721069144769 802
0.719768555343796 803
0.6468833990758769 804
0.6709338235766071 805
0.6690117824389635 806
0.808923474064611 807
0.4141211492706435 808
0.6403414208037953 809
0.6559253794305442 810
0.6635544319787441 811
0.7583561037831608 812
0.5564212192268789 813
0.780450508769845 814
0.7234239599919898 815
0.7017685361060491 816
0.7218825954933945 817
0.7221222907599483 818
0.6664072044122209 819
0.5764569548771435 820
0.8062437446690921 821
0.7769389322215183 822
0.5755941640742159 823
0.5015141958782345 824
0.7914774840417973 825
0.66484489143418 826
0.8363461626925124 827
0.7609749761541907 828
0.6765361773932023 829
0.5572684818663605 830
0.7984827166853001 831
0.8333114308569042 832
0.6179826399041213 833
0.780719512289251 834
0.7324761613180955 835
0.6937185769913173 836
0.6444222907410445 837
0.7319104208915488 838
0.6539053516519437 839
0.7966986983549498 840
0.8191028462147303 841
0.7926544887319985 842
0.7825881579649935 843
0.7319523937880561 844
0.5134060901340438 845
0.5969602094621651 846
0.7630603868711707 847
0.6789605496055313 848
0.7103189807370467 849
0.816852559146811 850
0.6594659401466726 851
0.6872170666255625 852
0.6562322472968876 853
0.5557044728913656 854
0.7048811434966304 855
0.6420846169648411 856
0.5387148893136804 857
0.8187399737278499 858
0.5441792939623455 859
0.7930508082602719 860
0.6112662655508576 861
0.6925220054231223 862
0.7077205858725778 863
0.7055101483537314 864
0.5767248243055003 865
0.6852982001590938 866
0.679053451340325 867
0.5481593983578272 868
0.6872747834745268 869
0.5971776326811846 870
0.5924089479236686 871
0.7520786932828132 872
0.7876024498532723 873
0.740558808927821 874
0.7086781750436739 875
0.7574640237817766 876
0.6984822915789766 877
0.6504834346370159 878

In [231]:
np.argmax(scores)

661

In [232]:
scores[np.argmax(scores)]

0.889770931767991

In [233]:
import pickle

In [234]:
pickle.dump(pipe, open('LinearRegressionModel.pkl','wb'))